.bgimg {
  display: flex;
}

.deck-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.intro {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 5px #142d4c;
  color: whitesmoke;
}

.reply {
  background: #4f545a;
}
