.lead
{
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-3
{   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-weight: bold;
    text-shadow: 2px 2px #6d6868;
    text-align: center;
    opacity: 1;
   
}

.bgimg
{
    background-image: url(./../bgimage.jpg);
    height: 100vh;
    background-size: cover, contain;
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
}

.options
{
    margin: auto;
}